

.map-container{
  flex: 0 1 50%;
}
.map{
/*   margin-right: 20px;
  margin-bottom: 20px; */

} 

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .map-container{
      flex: 0 1 100%;
  }
  .map{
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .informaistion{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-right: 10px;

}
  .map-container{
      flex: 0 1 100%;
  }
  .map{
    width: 100%;
  }

}
