.add-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .edit-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .delete-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .call-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
  } 


  .icon-container {
    display: flex;
    justify-content: space-between; /* Puts space between the left and right icons */
  }
  
  .right-icons {
    display: flex;
    justify-content: flex-end; /* Aligns items to the end of the container */
  }

  .my-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }